body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#fizz-bubbles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  width: 85px;
  border-radius: 35%;
  color: white;
  background-color: blue;
  margin: 8px;
  transition: background-color .5s, width .5s, height .5s, margin .5;
  font-family: Arial, Helvetica, sans-serif;
}

.bubble:nth-child(3n) {
  background-color: lawngreen;
}

.bubble:nth-child(5n) {
  background-color: orchid;
}

.bubble:nth-child(15n) {
  background-color: orange;
}

.bubble:hover {
  background-color: rgb(235, 30, 30);
  width: 95px;
  height: 95px;
  margin: 3px;
  transition: background-color .5s, width .5s, height .5s, margin .5;
}

@media only screen and (max-width: 550px) {
  body {
    display: flex;
    flex-wrap: wrap;

  }

  .bubble {
    height: 140px;
    width: 140px;
    min-width: 140px;
  }

  .bubble:hover {
    background-color: rgb(235, 30, 30);
    width: 145px;
    height: 145px;
    margin: 5.5px;
  }
}